footer{
    background-color: #000000;
    text-align: center;
    font-size: xx-large;
    color: white;
    display : inline-block;
    width: 1600px;
    
    
}

.form{
    background: linear-gradient(to right, #000000 30%, #cc0000 100%);
    color: white;
    display: inline-block;
    padding: 0px;
    width :100%;
    
}
.top{
    background-color: #000000;
    color: white;
    margin : dotted;
    border : 0px;
  
}
.header{
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: xx-large;
    
}
body{
    padding: 0px;
    margin : 0px;
}
.img {
 border-radius: 40px;
width: 1500px; height: 600px;
}
